#game {
	margin-top: 20px;
}

#game * {
	display: block;
}

#game label {
	margin: 0;
	background-color: lightgrey;
	color: grey;
}

#game label, #game p {
	text-align: center;
}

#game button {
	margin-left: auto;
	margin-right: auto;
}

#game button, #game p {
	margin-top: 10px;
}
